<header>
    <div class="logo">
        <h1>Products</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('products_list') }}">Products</a></li>
            <li><a href="{{ path('new_product') }}">New Product</a></li>
        </ul>
    </nav>
</header>